body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.banner {
    height: auto;
    width: auto;
    background: url('./overlay.png'), url('./musicas2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner .navbar-brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
}

.banner .nav {
    margin-right: 10%;
}


.banner .nav li a {
    color: #fff;
    font-size: 1.15em;
    padding: 5px 10px;
    font-weight: 400;
    margin-left: 5px;
}

.banner .nav a:hover {
    color: rgb(0, 0, 0);
}

@media all and ( max-width: 1130px) {
	.navbar {
        align-items: center;
        margin: 20px;
        font-size: 50px;
        padding: 50px;
        margin-right: 50%;
	}

    .titulo{
        text-align: center;
        left: -50%;
    }
}    





h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: rgb(138, 137, 137);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #FFF;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: #353430;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}


section.module.parallax-1 {
    background-image: url("./5.jpg");
}

section.module.parallax-2 {
    background-image: url("./6.jpg");
}

section.module.parallax-3 {
    background-image: url("./7.jpg");
}

section.module.parallax h1 {
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

@media all and (max-width: 1360px) {
    section.module h2{
        font-size: 62px;
    }

    section.module p{
        font-size: 40px;
    }

    .module h2,
    p {
        padding: 0 8px;
    }

    .container p {
        margin: 0;
        padding: 0;
    }

    section.module.parallax h1 {
        font-size: 50px;
    }

    .p {
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .texto h2 {
        margin-bottom: 40px;
        font-size: 50%;
    }

}